<div class="container-login">
    <h1><i class="icon ion-locked"></i>Login Ke Aplikasi</h1>
    <p>Mudahnya mengorganisir kontak pribadi kenalan, rekan bisnis dan keluarga tanpa kwatir kehilangan karena sesuatu hal yang tak diinginkan.</p>
    <div class="container-form">
        <form ng-submit="clickLogin()">
            <input type="text" placeholder="Masukan Username" ng-model="user.name">
            <input type="password" placeholder="Masukan Password" ng-model="user.pass">
            <button>LOGIN AS ADMIN</button>
        </form>
    </div>
</div>
